AGENT_BIND_HOST=127.0.0.1

ORCHESTRATOR_HOST=127.0.0.1
GAS_AGENT_HOST=127.0.0.1
FOOD_AGENT_HOST=127.0.0.1
PARKING_AGENT_HOST=127.0.0.1

ORCHESTRATOR_PORT=9999
GAS_AGENT_PORT=9998
FOOD_AGENT_PORT=9997
PARKING_AGENT_PORT=9996
