# --- Python Base ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# --- Virtual Environments ---
.venv/
.uv/
venv/
venv.bak/

# --- Secrets & Local Configs ---
.env
.env.*
!.env.example
.envrc
env/
ENV/
env.bak/

# Ruff stuff:
.ruff_cache/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
*.lcov
.hypothesis/
.pytest_cache/
cover/

# --- IDEs and OS Files ---
.vscode/
.DS_Store
Thumbs.db
